@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Kanit:ital,wght@0,500;1,700&family=Poppins:wght@800&display=swap');
.box2 {
    height: 340px;
    width: 260px;
    margin: 15px;
    border-radius: 30px;
    background-color: #ffffff;
    border-color: black;
}

.img {
    padding: 10px 10px 10px 13px;
    border-radius: 30px;
    margin-left: 2px;
}

.circle {
    border-radius: 50%;
    background-color: #00AD3B;
    color: #333;
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 5px;
}

.circle2 {
    border-radius: 50%;
    background-color: #00AD3B;
    color: #333;
    display: inline-block;
    line-height: 1;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 5px;
}

.circle3 {
    border-radius: 50%;
    background-color: white;
    color: #333;
    display: inline-block;
    line-height: 1;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 5px;
}

.circle4 {
    border-radius: 50%;
    background-color: white;
    color: #333;
    display: inline-block;
    line-height: 1;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 5px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #062E0F;
    overflow: hidden;
    padding: 15px 20px;
    color: #F4F9E1;
    text-align: center
}

.Label {
    font-family: Monomaniac One;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding-top: 5px;
}

.ms {
    float: right;
    margin-right: 10px;
}


.bykr {
    box-shadow: 25px 15px 40px rgba(30, 14, 1, 0.7);
}

.tL {
    color: black;
    font-size: 20px;
    margin: auto;
    padding-left: 10px;
    font-family: monospace;
}

.Button button {
    padding: 10px;
}

.Pesanan {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 140px;
}

.bold {
    font-weight: bolder;
}

.head {
    font-size: 32px;
    font-weight: bold;
}

.size {
    border-radius: 50px;
    background-color: #087561;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-left: 25px;
    color: white;
}

.bykr2 {
    box-shadow: 15px 15px 25px rgba(30, 14, 1, 0.7);
    margin-bottom: 35.px;
}

.input1 {
    width: 100px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: block;
    text-align: center;
}



.box-status {
    border-radius: 20px;
    border: 3px solid #000;
    background: #C1D4C5;
    height: 180px;
    flex-shrink: 0;
    flex-wrap: wrap;
    
}
.box-dalam {
    border-radius: 30px;
    background-color: #00AD3B;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p {
    margin: 0px;
}

.status {
    display: flex;
    justify-content: space-evenly;
}

section {
    background-color: #C1D4C5;
    overflow: hidden;
    padding: 15px 20px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    /*background-image: url("/UAS 3/img/cabai.jpg");*/
}

footer {
    padding: 5px 30px;
    background-color: #2B3409;
    color: #F0F7D4;
}